<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- favicon /favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/fontawesome.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="project-page" style="display: none;" data-project="<%= oneProject.id %>"></div>
    <div class="member-page" style="display: none;" data-member="<%= member.id %>"></div>
    <%- include('partials/navbar', { member: member, projects: projects,invitations:invitations,oneProject:oneProject }) %>
    <div class="container-fluid">
        <div class="row">
            <div class="ms-0 col-md-2" style="min-height: 800px;">
                <%- include('partials/sidebar',{project:oneProject,member:member,title:title}) %>
            </div>
            <div class="col-md-10">
                <main>
                    <h3 class="mt-4"><%= oneProject.name %></h3>
                    <i class="small mb-2" style="margin-top:-3px">ici vous gérer vos tickets composé de sous tickets</i>
                    <br>
                    <%- include('partials/tickets/tableComposedTicket.ejs',{tickets:tickets}) %>
                </main>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>