<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- favicon /favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/fontawesome.css" />
</head>
<body id="invitation-page" class="d-flex flex-column min-vh-100">
    <div class="member-page" style="display: none;" data-member="<%= member.id %>"></div>

    <%- include('partials/navbar', { member: member, projects: projects,invitations:invitations,oneProject:oneProject }) %>
    <div class="container-fluid">
        <div class="row">
            <div class="ms-0 col-md-2" style="min-height: 800px;">
                <%- include('partials/sidebar',{project:oneProject,member:member,title:title}) %>
            </div>
            <div class="col-md-10">
                <main>
                    <h3 class="mt-4">Bonjour, Mr.<%= member.name %></h3>
                    <i class="small " style="margin-top:-3px">ici vous trouverez tout vos invitations en attente</i>
                    <br>
                    <table class="mt-3 table align-middle mb-0 bg-white ">
                        <thead class="bg-light">
                          <tr>
                            <th>chef projet</th>
                            <th>projet</th>
                            <th>message</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% invitations.forEach((invitation,index) => { %>
                                <%- include('invitations/oneInvitation.ejs',{invitation:invitation,index:index}) %>
                          <% }) %>
                          </tbody>
                          </table>
                          <div data-invitations="<%= JSON.stringify(invitations) %>"  id="memberInvitationContainer"></div>
                </main>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>