<img data-bs-toggle="modal" data-bs-target="#detailsSubTicket<%= subTicket.id %>" src="/img/ticket.png" class=" hover rounded-circle border border-dark bg-secondary img-fluid" width="30" height="30" style="margin-right: -10px;" />
<!-- Modal -->
<div class="modal fade" id="detailsSubTicket<%= subTicket.id  %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= subTicket.title %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-composed-<%= subTicket.id %> ">
          <!-- Details du sous-ticket -->
          <p><strong>Description:</strong> <%= subTicket.description %></p>
          <p><strong>Propriétaire:</strong> <%= subTicket.assignee.name %></p>
          <p><strong>Date de création:</strong> <%= new Date(subTicket.createdAt).toLocaleString() %></p>
          <p><strong>Statut:</strong> <%= subTicket.state %></p>
          <p><strong>Priorité:</strong> <%= subTicket.priority %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>